<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.justcode.picklotto">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PickLotto"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2744046875475466~8695433737" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/ball" />

        <activity
            android:name=".ui.activity.IntroActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RandomActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DrwActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.StatisticsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>